.song-desc {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 25%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2rem;
    border: 3px solid white;
    transition: all 0.5s ease;
  }

  h2 {
    font-size: 3rem;
    margin-top: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  h3 {
    font-size: 1.5rem;
    transition: all 0.5s ease;
  }
}

.song-desc img:hover {
  transform: scale(1.04);
}

.song-desc h2:hover {
  transform: scale(1.04);
  color: aqua;
}

.song-desc h3:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 768px) {
  .song-desc {
    img {
      width: 50%;
    }
  }
}
