@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #332c2c;
  color: white;
  font-family: "Poppins", sans-serif;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
